{% extends 'base.html' %}
{% load static %}

{% block title %}
Home - Texas Wake
{% endblock %}

{% block content %}
    <!-- Video Background Section -->
    <video autoplay muted loop playsinline id="background-video" poster="{% static 'txwake/videos/TxWakeImg.jpg' %}">
        <source src="{% static 'txwake/videos/HomepageVideo.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Content that overlays on top of the video -->
    <div class="video-overlay">
        <h1>Welcome to Texas Wake</h1>
        <p>Wakeboarding at the University of Texas at Austin</p>
    </div>
{% endblock %}